/*the div for the random number*/
#game_num {
    width: 200px;
    height: 100px;
    background-color: black;
    color: white;
    margin-bottom: 0px;
}

/*the images*/
img {
    width: 125px;
    float: left;
    height: 100px;
}

/*the div that holds the images*/
.images {
    margin-top: 100px;
}

/*the score*/
#displayed_guess {
    width: 200px;
    height: 100px;
    background-color: black;
    color: white;
}

/*the wins / losses dislpay*/
#win-loss {
    width: 150px;
    height: 100px;
    background-color: black;
    color: white;
    margin-left: 250px;
    margin-bottom: 50px;
    top: -10px;

}