body {
    background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Colorful-Geometric-Simple-Background-Image.jpg");
    background-size: cover;
}

/*the div for the random number*/
#game_num {

    height: 100px;
    background-color: mediumseagreen;
    color: white;
    margin-bottom: 10px;
    margin-left: 15px;

}

/*the images*/

img{
    width:200px;
    height:150px;
}

/*the score*/
#displayed_guess {
    margin-top: 10px;
    margin-left: 15px;
    height: 100px;
    background-color: lightseagreen;
    color: white;
}

/*the wins / losses dislpay*/
#win-loss {

    height: 100px;
    background-color: turquoise;
    color: white;
    margin-left: 5px;


}

#scoreText {
    height: 30px;
    background-color: lightseagreen;
    margin-top: 10px;
    margin-left: 15px;
}

#rules {
    background-color: blanchedalmond;
    height: 400px;
    margin-left: 15px;
    margin-bottom: 10px;
    

}
#header{
    height:100px;
    margin-left:15px;
    margin-bottom:10px;
    background-color:chocolate;
    margin-top:10px;
}