body {
    background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Colorful-Geometric-Simple-Background-Image.jpg");
    background-size: cover;
}

/*the header*/
#header {
    height: 100px;
    margin-left: 15px;
    margin-bottom: 10px;
    background-color: chocolate;
    margin-top: 10px;
    font-family: 'Gelasio', serif;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-size: 38px;
    font-weight: 700;
}

/*the div that holds the rules*/
#rules {
    background-color: blanchedalmond;
    height: 400px;
    margin-left: 15px;
    margin-bottom: 10px;
    font-family: 'Gelasio', serif;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: mediumseagreen;
}

/*the div for the random number*/
#game_num {
    height: 100px;
    background-color: mediumseagreen;
    margin-bottom: 10px;
    margin-left: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

/*the wins / losses dislpay*/
#win-loss {
    height: 100px;
    background-color: turquoise;
    margin-left: 5px;
    font-size: 17px;
    font-weight: 600;
}

/*the images*/
img {
    width: 200px;
    height: 150px;
}

/*the div over the score div*/
#scoreText {
    height: 30px;
    background-color: lightseagreen;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
}

/*the score*/
#displayed_guess {
    margin-top: 10px;
    margin-left: 15px;
    height: 100px;
    background-color: lightseagreen;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

/*the div for the button to go to hard mode*/
#hardButton {
    margin-top: 10px;
    margin-left: 5px;
}

/*the button to go to hard mode*/
#hard_button {
    background-color: lightseagreen;
    border-color: lightsalmon;
}

/*colors the text inside the a tag*/
a {
    color: black;
}